[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pillow = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
cloudinary = "*"
python-decouple = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-ckeditor = "*"
django-js-asset = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
