$white: #f2f8f2;

$ash-100: #ebf2fa;
$ash-200: #deeaf7;
$ash-300: #cee0f3;
$ash-400: #bdd5ef;
$ash-500: #adcbeb;
$ash-600: #9cc1e7;

$primary: #b5f44a;
$secondary: #02c3bd;
$tertiary: #6bdbc7;
$text: #cbff4d;

$error: #ff729f;
$frost: #246994;
$dark: #143a52;

$spartan: 'League Spartan', sans-serif;
$outfit: 'Outfit', sans-serif;
